
@page "/EmployeesList"
@inject BlazorEmployeesManagment.Web.Services.EmployeesServices employeesService


<div class="container">
    <div class="row">
        <div class="card-deck">
            @if (Employees == null)
            {
                <div class="spinner"></div>
            }
            else
            {


                <div style="width: 100%; height: 40px; ">
                    <label> Show Footer </label>
                    <input type="checkbox" id="ShowFooter" @bind="ShowFooter">
                </div>
                <br />




                @foreach (var employee in Employees)
                {

                    <div class="col col-sm-12 col-lg-4 col-md-6">

                        <BlazorEmployeesManagment.Web.Components.EmployeeCard Employee="employee" ShowFooter="ShowFooter">
                        </BlazorEmployeesManagment.Web.Components.EmployeeCard>

                    </div>
                }
            }
        </div>

    </div>

</div>

@code {

    private IEnumerable<BlazorEmployeesManagment.Web.Models.Employee> Employees { get; set; }
    public bool ShowFooter { get; set; } = true;


    protected override async Task OnInitializedAsync()
    {
        Employees = await employeesService.GetAll();
    }



}